body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}

table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;

    thead th {
        vertical-align: bottom;
    }

    td, th {  
        border: 1px solid #dee2e6;      
        padding: 1rem;
        vertical-align: top; 
        text-align:left;

        &:first-child{
            width:35px;
            text-align: center;
        }               

        &.spoiler {
            filter: blur(0.3rem);
        }
    }

    tr{

        &.watched {
            opacity: 0.2;
            text-decoration: line-through;
        }
        
       &.history {
            display: none; 
        }
        
        &.series {
            background: #007196;
            color: white;
        }
        
        &.future {
            opacity: 0.3;
        }
        
        &.arrow {
            background: #006200;
        }
        
        &.the_flash {
            background: #a50400
        }
        
        &.dcs_legends_of_tomorrow {
            background: #003E3E;
        }
        
        &.the_clone_wars {
            background:#1B468A;
        }

    }
}

.loader {
    margin: auto;
    margin-top: 50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
