<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The Clone Wars Progress</title>
    <meta name="viewport" content="width=device-width" />
    <script src="../scripts//jquery-3.3.1.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script>
        var data = {
            currentSeries: "theclonewars",
            includedShows:[],
        };
    </script>
    <script src="../app/app.js"></script>
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="theclonewars.ico">

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#006200">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#006200">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#006200">
    <meta name="mobile-web-app-capable" content="yes">

    <link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body ng-app="seriesProgressApp">
    <div ng-controller="seriesProgressController">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>Episode</th>
                    <th>Disc</th>
                    <th>Title</th>
                </tr>
            <tbody>
                <tr ng-repeat="episode in episodes | orderBy:'order'" ng-class="{'watched' : isWatched(episode), 'history' : isHistory(episode), 'future' : isFuture(episode)}" class="series {{episode.series | flatten}}">
                    <td>
                        <input type="checkbox" ng-checked="isWatched(episode)" ng-click="setWatched(episode)" />
                    </td>
                    <td>{{episode.order}}</td>
                    <td>{{episode.episode}}</td>
                    <td>{{episode.disc}}</td>  
                    <td>{{episode.title}}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>