<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Arrowverse</title>
    <meta name="viewport" content="width=device-width" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico">


    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#006200">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#006200">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#006200">
    <meta name="mobile-web-app-capable" content="yes">

    <style>
        .watched {
            opacity: 0.2;
        }

        .series {
            background: #007196;
            color: white;
        }

        .arrow {
            background: #006200;
        }

        .the_flash {
            background: #a50400
        }

        .dcs_legends_of_tomorrow {
            background: #003E3E;
        }
    </style>
</head>

<body ng-app="arrowverseApp">
    <div ng-controller="arrowverseController">
        <input type="button" ng-click="fetchEpisodesList()" value="Fetch Episodes" />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>#</th>
                    <th>Series</th>
                    <th>Episode</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            <tbody>
                <tr ng-repeat="episode in episodes | orderBy:'order'" ng-class="{'watched' : isWatched(episode)}" class="series {{episode.series | flatten}}">
                    <td>
                        <input type="checkbox" ng-checked="isWatched(episode)" ng-click="setWatched(episode)" />
                    </td>
                    <td>{{episode.order}}</td>
                    <td>{{episode.series}}</td>
                    <td>{{episode.episode}}</td>
                    <td>{{episode.title}}</td>
                    <td>{{episode.date}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>{{episode}}</p>
        </div>
    </div>


</body>
</html>